{% if account_type == "F" %}
<form method="POST" action="/app/">
<table border="1">
<tr>
    <td>CUIT</td>
    <td><input type="text" name="cuit" value="" maxlength="11"></td>
</tr>
<tr>
    <td>Nombre</td>
    <td><input type="text" name="name" value="" maxlength="80"></td>
</tr>
<tr>
    <td>Apellido</td>
    <td><input type="text" name="surname" value="" maxlength="250"></td>
</tr>
<tr>
    <td>DNI</td>
    <td><input type="text" name="cardid" value="" maxlength="8"></td>
</tr>
</table>
<br>
<input type="hidden" name="account_type" value="{{ account_type }}">
<input type="submit" name="insert" value="Guardar">
<input type="submit" name="cancel" value="Cancelar">
{% csrf_token %}
</form>
{% elif account_type == "J" %}
<form method="POST" action="/app/">
<table border="1">
<tr>
    <td>CUIT</td>
    <td><input type="text" name="cuit" value="" maxlength="11"></td>
</tr>
<tr>
    <td>Nombre</td>
    <td><input type="text" name="name" value="" maxlength="100"></td>
</tr>
<tr>
    <td>Año</td>
    <td><input type="text" name="year" value="" maxlength="4"></td>
</tr>
</table>
<br>
<input type="hidden" name="account_type" value="{{ account_type }}">
<input type="submit" name="insert" value="Guardar">
<input type="submit" name="cancel" value="Cancelar">
{% csrf_token %}
</form>
{% endif %}
