{% if data.error %}
<form method="POST" action="/app/">
    {{ data.error }}
<br><br>
<input type="submit" name="back" value="Volver">
{% csrf_token %}
</form>
{% else %}
    {% if data.account_type == "F" %}
<form method="POST" action="/app/">
<table border="1">
<tr>
    <td>CUIT</td>
    <td><input type="text" name="cuit" value="{{ data.person.account.cuit }}" maxlength="11" readonly></td>
</tr>
<tr>
    <td>Nombre</td>
    <td><input type="text" name="name" value="{{ data.person.name }}" maxlength="80"></td>
</tr>
<tr>
    <td>Apellido</td>
    <td><input type="text" name="surname" value="{{ data.person.surname }}" maxlength="250"></td>
</tr>
<tr>
    <td>DNI</td>
    <td><input type="text" name="cardid" value="{{ data.person.cardid }}" maxlength="8"></td>
</tr>
</table>
<br>
<input type="hidden" name="account_type" value="{{ data.account_type }}">
<input type="submit" name="update" value="Guardar">
<input type="submit" name="cancel" value="Cancelar">
{% csrf_token %}
</form>
    {% elif data.account_type == "J" %}
<form method="POST" action="/app/">
<table border="1">
<tr>
    <td>CUIT</td>
    <td><input type="text" name="cuit" value="{{ data.company.account.cuit }}" maxlength="11" readonly></td>
</tr>
<tr>
    <td>Nombre</td>
    <td><input type="text" name="name" value="{{ data.company.name }}" maxlength="100"></td>
</tr>
<tr>
    <td>Año</td>
    <td><input type="text" name="year" value="{{ data.company.year }}" maxlength="4"></td>
</tr>
</table>
<br>
<input type="hidden" name="account_type" value="{{ data.account_type }}">
<input type="submit" name="update" value="Guardar">
<input type="submit" name="cancel" value="Cancelar">
{% csrf_token %}
</form>
    {% endif %}
{% endif %}