{% if all_accounts %}
    <h3>Listado de titulares de cuentas corrientes</h3>
    {% if message_error %}
        {{ message_error }}
        <br><br>
    {% endif %}
    <form method="post" action="/app/">
    <input type="button" onclick="add_person(this)" value="Agregar titular fisico">
    <input type="button" onclick="add_company(this)" value="Agregar titular juridico">
    <br>
    <table border="1">
        <tr>
            <th>CUIT</th>
            <th>Nombre o Razon Social</th>
            <th colspan="3">Acciones</th>
        </tr>
        {% for account in all_accounts %}
        <tr>
            <td>{{ account.cuit_label }}</td>
            <td>{{ account.name }}</td>
            <td><input type="button" onclick="view(this)" cuit="{{ account.cuit }}" account_type="{{ account.account_type }}" value="Ver"></td>
            <td><input type="button" onclick="edit(this)" cuit="{{ account.cuit }}" account_type="{{ account.account_type }}" value="Editar"></td>
            <td><input type="button" onclick="remove(this)" cuit="{{ account.cuit }}" account_type="{{ account.account_type }}" value="Borrar"></td>
        </tr>
        {% endfor %}
    </table>
    </form>
    <script>
        function add_person(sender) {
            location.href = "/app/add/F/";
        };

        function add_company(sender) {
            location.href = "/app/add/J/";
        };

        function view(sender) {
            location.href = "/app/view/" + sender.getAttribute("cuit") + "/" + sender.getAttribute("account_type") + "/";
        };

        function edit(sender) {
            location.href = "/app/edit/" + sender.getAttribute("cuit") + "/" + sender.getAttribute("account_type") + "/";
        };

        function remove(sender) {
            location.href = "/app/remove/" + sender.getAttribute("cuit") + "/" + sender.getAttribute("account_type") + "/";
        };
    </script>
{% else %}
    <h3>No hay titulares de cuentas corrientes.</h3>
    <form method="post" action="/app/">
    <input type="button" onclick="add_person(this)" value="Agregar titular fisico">
    <input type="button" onclick="add_company(this)" value="Agregar titular juridico">
    </form>
    <script>
        function add_person(sender) {
            location.href = "/app/add/F/";
        };

        function add_company(sender) {
            location.href = "/app/add/J/";
        };
    </script>
{% endif %}

