{% if data.error %}
<form method="POST" action="/app/">
    {{ data.error }}
<br><br>
<input type="submit" name="back" value="Volver">
</form>
{% else %}
    {% if data.account_type == "F" %}
<form method="POST" action="/app/">
<table border="1">
<tr>
    <td>CUIT</td>
    <td>{{ data.person.account.cuit }}</td>
</tr>
<tr>
    <td>Nombre</td>
    <td>{{ data.person.name }}</td>
</tr>
<tr>
    <td>Apellido</td>
    <td>{{ data.person.surname }}</td>
</tr>
<tr>
    <td>DNI</td>
    <td>{{ data.person.cardid }}</td>
</tr>
</table>
<br>
<input type="submit" name="back" value="Volver">
</form>
    {% elif data.account_type == "J" %}
<form method="POST" action="/app/">
<table border="1">
<tr>
    <td>CUIT</td>
    <td>{{ data.company.account.cuit }}</td>
</tr>
<tr>
    <td>Nombre</td>
    <td>{{ data.company.name }}</td>
</tr>
<tr>
    <td>Año</td>
    <td>{{ data.company.year }}</td>
</tr>
</table>
<br>
<input type="submit" name="back" value="Volver">
</form>
    {% endif %}
{% endif %}